h1{
 font-family: 'Russo One', sans-serif;
 font-size: 3em;
}
.tamanio{
    padding-left: 10%;
    padding-top: 10px;
}
.tamanio p{
    font-family: 'Orbitron', sans-serif;
    padding-left: 12px;
    padding-bottom: 10px;
    font-size: 1.5em;
}
#pequeño{
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    background-color:#f4f3f2;
    border: none;
    border-radius: 8px;
    color: rgb(92, 89, 89);
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
}
#normal{
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    background-color:#f4f3f2;
    border: none;
    border-radius: 8px;
    color: rgb(92, 89, 89);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
}
#grande{
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    background-color:#f4f3f2;
    border: none;
    border-radius: 8px;
    color: rgb(92, 89, 89);
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}
.colores{
    padding-left: 10%;
    padding-top: 10px;
}

.colores p{
    font-family: 'Orbitron', sans-serif;
    padding-left: 12px;
    padding-bottom: 10px;
    font-size: 1.5em;
}
#esmeralda{
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    background-color:#57d68d;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
}
#cielo{
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    background-color:#5cace2;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
}
#amatista{
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    background-color:#ae7ac4;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
}
#asfalto{
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    background-color:#5c6d7e;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
}
#topazio{
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    background-color:#ea974e;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
}
#rubi{
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    background-color:#eb6f62;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
}